body {
    font-family: Tahoma, Geneva, sans-serif;
    background: url("background.png");
    background-attachment:fixed;
    margin: 20px;
}

#top {
    text-align:center;
}

.show {
    display: block;
}

#SearchBar{
    height: 40px;
    width: 100%;
    padding: 20px;
    text-align:left;
}

#Search {
    width: 25%;
    height: 100%;
    float:left;
    cursor:text;
}

#topicButt {
    width: 25%;
    height: 100%;
    float:left;
}

#sortByButt {
    width: 25%;
    height: 100%;
    float: left;
}

#sortOrderButt{
    width: 25%;
    height: 100%;
    float: left;
}

.bigButt{
    width: 300px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
}

.bigButt:hover {
    background-color: #c0d6ea;
}

#pressButts {
    width:300px;
    height:80px;
    text-align:center;
    padding-left:20px;
}

#searchButt{
    width: 100%;
    height: 50%;
    text-align:left;
}

#topTenButt{
    width: 100%;
    height: 50%;
    text-align:left;
}

.link {
    color: #0645AD;
    cursor: pointer;
}

.link a:hover {
    text-decoration: underline;
}

.titleSize {
    font-size: 125%;
    text-decoration: underline;
}

#information {
    width: 100%;
    height: 300px;
    padding: 20px;
}

#results {
    width: 25%;
    height: 100%;
    float:left;
}

#title {
    width: 75%;
    height: auto;
    float: right;
}

#details {
    width: 75%;
    height: auto;
    float: right;
}

