<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='website.css') }}" />
	<script>var api_port = {{ api_port }};</script>
	<script type="text/javascript" src="{{ url_for('static', filename='website.js') }}" defer></script>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
	<title>Cinehub</title>
</head>

<body>

	<h1>Cinehub</h1>

	<h2>Welcome to Cinehub, your one stop shop for movie inquiries!</h2>

	<input type="text" placeholder="Search Cinehub...">
</body>
</html>

