<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='website.css') }}" />
    <script>var api_port = {{ api_port }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='website.js') }}" defer></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <title>Cinehub</title>
</head>

<body>

    <h1>Cinehub</h1>

    <h2>Welcome to Cinehub, your one stop shop for movie inquiries!</h2>
    <div id = "SearchButtons">
        <div id="SearchBar">
            <input type="text" placeholder="Search Cinehub...">
        </div>

        <div id="SearchDropdowns" class="dropdown">
        <button onclick="dropdown()" class="dropbtn">Search Category: Title </button>
            <div id="myDropdown" class="dropdown-content">
                <a href="#title">Title</a>
                <a href="#actors">Actors</a>
                <a href="#directors">Directors</a>
                <a href="#producers">Producers</a>
                <a href="#writers">Writers</a>

           </div>
        </div>
    </div>
    <p><button id="search_button">Cinehub Search</button></p>
    <p><button id="top_ten_button">Top Ten Movies</button></p>

    <p><table id="results_table" class=movieLink></table></p>
    <p><table id="movie_title"></table></p>
    <p><table id="movie_table"></table></p>
</body>
</html>

